input[type=number] {
	width: 4em;
}

body {
	background: navy;
}

button {
	width: 100%;
}

#busy {
	display: none;
	position: fixed;
	bottom: 2em;
	width: 100%;
	padding: 1em 3em;
	box-sizing: border-box;
	text-align: center;
}

#edit {
	display: none;
	position: fixed;
	width: 90vw;
	height: 90vh;
	bottom: 5vh;
	left: 5vw;
	background: #111;
}

#editbuttons button {
	width: 30vw;
}

#editbuttons button:first-child {
	float: left;
}

#editbuttons button ~ button {
	float: right;
}

#editbuttons span {
	width: 30vw;
	display: inline-block;
	text-align: center;
	box-sizing: border-box;
}

#editbuttons {
	width: 90vw;
	box-sizing: border-box;
}

#editbuttons span {
	color: white;
}

textarea {
	box-sizing: border-box;
	width: 90vw;
	height: 80vh;
	margin: auto auto auto auto;
}

.hider {
	display: none;
}

.hider + label {
	float: left;
	margin: 1em 2em 0em;
	padding: 1ex 2ex;
	border-radius: 1ex 1ex 0ex 0ex;
	font-weight: bold;
}

.hider:not(:checked) + label {
	background: lightgrey;
}

.hider:checked + label {
	background: white;
}

.tab {
	clear: both;
	background: white;
	padding: 1ex 1em;
}

#permissions:checked ~ #permissiontab {
	display: block;
}
#permissions:not(:checked) ~ #permissiontab {
	display: none;
}

#scripts:checked ~ #scripttab {
	display: block;
}
#scripts:not(:checked) ~ #scripttab {
	display: none;
}

#sprites:checked ~ #spritetab {
	display: block;
}
#sprites:not(:checked) ~ #spritetab {
	display: none;
}

#audios:checked ~ #audiotab {
	display: block;
}
#audios:not(:checked) ~ #audiotab {
	display: none;
}

#preview {
	display: block;
	position: fixed;
	top: 10vh;
	bottom: 10vh;
	left: 10vw;
	right: 10vw;
}

#sound {
	position: fixed;
	top: 1ex;
	right: 1ex;
	display: none;
}
