body {
	background-origin: content-box;
	background-attachment: fixed;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	overflow: hidden;
}

#videodiv, #question {
	display: none;
	position: absolute;
	left: 0px;
	top: 0px;
	right: 0px;
	bottom: 0px;
	overflow: auto;
	padding: 3em 3em 3em 3em;
	margin: 3em 3em 3em 3em;
	border-radius: 2ex;
	border: solid black .5ex;
}

button.not(#navbutton) {
	margin: 2em;
}

#navigation {
	z-index: 3;
	text-align: justify;
	position: fixed;
	left: 0px;
	right: 0px;
	top: 0px;
	height: 2em;
}
#navigation:after {
	content: "";
	display: inline-block;
	width: 100%;
}

#spritebox {
	z-index: 1;
	position: absolute;
	left: 0px;
	right: 0px;
	bottom: 0px;
	top: 0px;
}

#speechbox {
	font: 130% serif;
	display: none;
	position: fixed;
	left: 3vw;
	right: 3vw;
	bottom: 1vh;
	height: 20vh;
	box-sizing: border-box;
	border: 2px black solid;
	border-radius: 1em;
	background-color: rgba(255, 255, 255, 0.9);
	z-index: 2;
}

#speaker {
	position: relative;
	left: 2em;
	top: -.75ex;
	border: 2px black solid;
	border-radius: 1ex;
	padding: 1ex 1ex;
	background: white;
}

#speaker_image {
	float: left;
	height: 6em;
	padding: 1ex 1ex
}

#speech {
	padding: 1ex 1ex;
}
#speech p {
	margin: 0px 0px 0px 0px;
}

.sprite {
	position: absolute;
	bottom: 0%;
}
.sprite img, #game img {
	width: inherit;
	height: inherit;
}

#question {
	background-color: rgba(255, 255, 255, .5);
	box-sizing: border-box;
	z-index: 4;
}

.choicebuttons {
	text-align: center;
}
.choicebutton, .script {
	display: inline;
	padding: 1em 5em 1em 5em;
	margin: 1ex 1ex 1ex 1ex;
	border-radius: 2em;
}

#contents {
	text-align: center;
}

ul {
	list-style-type: none;
}

#logout {
	text-align: right;
}

.active, .choicebutton:hover {
	background-color: blue;
	color: white;
}

#game {
	position: fixed;
	overflow: hidden;
}

#bg {
	position: absolute;
	overflow: hidden;
	top: 0px;
	left: 0px;
	bottom: 0px;
	right: 0px;
}

.hidden {
	display: none;
}
